// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome.scss";

.post-box{
    background-color: rgba(177, 177, 177, 0.09);
    border: 3px solid $secondary-color;
    border-top: none;
    border-right: none;
    border-radius: 15px;
    padding: 20px;
}

.post-img {
    border-radius: 10px;
    padding: 5px;
    width: 100%;
}

.avatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 10px;
}
.avatar-profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 10px;
}

.secondary-color{
    color: $secondary-color;
}

.jumbotron{
    margin-top: 20px;
    background-color: $primary-color;
    color: white;
    position: relative;

    #profile-stats{
        position: absolute;
        bottom: 20%;
        left: 8%;

        a{
            color: $secondary-color;
        }
        a:hover{
            color: $secondary-color;
        }
    
    }
    #profile-manipulation{
        position: absolute;
        bottom: 20%;
        right: 8%;

        #edit-profile-btn{
            background-color: $secondary-color;
            color: white;
            border-color: $secondary-color;
        }
    
    }
}

.block{
    display: block;
}


.title-link:hover{
    text-decoration: underline;
    color: $secondary-color;
    // font-weight: bolder;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: $primary-color;

    .logo{
        
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 22px;
        // position: relative;
        left: 0;
        a{
            color: $secondary-color;
        }
        a:hover{
            text-decoration: none;
            color: $secondary-color;
        }
    }

    .nav-links{
        display: flex;
        justify-content: space-around;
        position: relative;
        top: 10px;
        width: 30%;
        a{
            color: white;
            text-decoration: none;
            letter-spacing: 3px;
            
        }
        li{
            list-style: none;
            display: inline-block;
            bottom: 0;
        }

    }
}

.edit-btn, .delete-btn{
    border: 1px solid $secondary-color;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    margin: 4px;
}

.edit-btn{
    background-color: #FFF3CD;
    color: $primary-color;
}
.delete-btn{
    background-color: #F8D7DA;
    color: $primary-color;
}

.box{
    background-color: rgba(211, 211, 211, 0.377);
    border: 2px solid $secondary-color;
    border-top: none;
    border-radius: 5px;
    margin-top:20px;
    margin-bottom:20px;
    padding: 20px;
}

.search-box{
    width: 50%;
    height: 48px;
    border-radius: 5px;
    text-align: center;
}

.search-form{
    margin: auto 0;
    margin-top: 30px;
}

.info{
    position: absolute;
    right: 100px;
    top: 100px;
}